@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 770px) {

}
body {
    background-color: yellow;
    color: black;
    width: 700px;
    height: 700px;
}

header {
    background-color: teal;
    width: 960px;
    height: 100px;
    box-sizing: border-box;
}


main {
    box-sizing: border-box;
}

#container1 {
    float: right;
    box-sizing: border-box;
}
aside {
    background-color: coral;
    width: 200px;
    height: 600px;
    float: left;

}

#container2 {
    float: right;
    box-sizing: border-box;
}
section {
    background-color: magenta;
    width: 50%;
    height: 100%;
    display: inline-block;
}

span {
    background-color: tomato;
    width: 100%;
    height: 50%;
    display: inline-block;
}

footer {
    background-color: blue;
    clear: both;
    display: block;
    height: 80px;
    box-sizing: border-box;
}


